body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
    max-width: 40rem;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1ch;
}

h1 {
    display: flex;
    gap: 10px;
    margin-bottom: 3ch;
}

input {
    flex: 1;
    padding: 12px;
    font-size: large;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form {
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

select,
button {
    padding: 10px;
    font-size: large;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    border-radius: 4px;
    border-left: 4px solid;
}

li.low {
    border-left-color: #007bff;
}

li.medium {
    border-left-color: #ffc107;
}

li.high {
    border-left-color: #dc3545;
}

li button {
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: large;
}